.logo{
    width: 400px;
    height: 400px;
    margin-top: 40px;
    animation: bounce 2s infinite 0.3s ease-in-out;
}

@keyframes bounce {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, 0px); }   
}

@media only screen and (max-width:650px){
    .logo{
        width: 300px;
        height: 300px;
    }
}